/*App*/

body.app {
    font-family: "Urbanist", sans-serif;
    background-color: #fff;
  }

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .swipe {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  
  .loaded.swipe {
    opacity: 1;
  }
  
  .swipe--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .swipe--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
  }
  
  .swipe_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .swipe_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .swipe--cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
  }
  
  .swipe--card {
    display: inline-block;
    width: 90vw;
    max-width: 400px;
    height: 70vh;
    background: #FFFFFF;
    padding-bottom: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .moving.swipe--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  .swipe--card img {
    max-width: 75%;
    pointer-events: none;
  }
  
  .swipe--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .swipe--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .swipe--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
  }
  
  .swipe--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 8px;
  }
  
  .swipe--buttons button:focus {
    outline: 0;
  }
  
  .swipe--buttons i {
    font-size: 32px;
    vertical-align: middle;
  }
  
  .fa-heart {
    color: #01DF01;
  }
  
  .fa-remove {
    color: #FE2E2E;
  }
    
.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    margin-bottom: 20px;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    background-color: #fff;
  }

  .smartphone-background {
    background-color: #f4f4ed;
    padding-bottom: 20px;
  }
  
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  .smartphone .content {
    width: 100%;
    height: 100%;
    background: white;
  }
      
  iframe {
      width: 100%;
      height: 100%;
      border: 100%;
  }

  .rounded-box {
    margin: 0 1px;
    background-color: #dddddd;
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: left; 
    pointer-events: none;
}

.img-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.icon-text {
    font-size: 80%;
    pointer-events: none;
    margin-right: 10px;
}

.flex-container {
    padding-top: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    pointer-events: none;
}

.mehr-details-button {
    display: inline-block;
    padding: 8px 16px; 
    background-color: #dddddd;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 3px; 
    font-size: 14px; 
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.mehr-details-button:hover {
    background-color: #00a2ff;
    transform: scale(1.05);
}

.hero-container {
    width: 100%;
    height: 88vh; 
    background-color: #fff; 
    overflow: hidden; 
    position: relative;
}

.hero-image {
    background-image: url('./img/Frau-mit-Smartphone.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text-left-1 {
    position: absolute;
    top: 30%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
    font-weight: bold;
    font-size: 35px;
}

.hero-text-left-2 {
    position: absolute;
    top: 70%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
    font-weight: bold;
    font-size: 35px;
}

.hero-demo-link {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
    font-weight: bold;
    font-size: 35px;
}

.hero-demo-link a {
    color:#fff;
}

.a-appstore {
    position: absolute;
    right: 120px; 
    top: 30%;
    transform: translate(0, -50%);
    text-decoration: none; 
}

.a-playstore {
    position: absolute;
    right: 120px; 
    top: 70%;
    transform: translate(0, -50%);
    text-decoration: none; 
}

a img {
    width: 300px;
    height: auto; 
}

.container-description-1 {
    display: flex;
    margin-top: 20px;
    background-color: #fff;
}

.container-description-2 {
    display: flex;
    margin-top: 20px;
    background-color: #f4f4ed;
}

.app-screenshot-left {
    flex: 1;
    margin-left: 5%;
  }

.app-screenshot-left img.swipecard {
    width: 50%;
    height: auto;
    margin-left: 75px;
}

.app-screenshot-left img.jobdetails {
    margin-top:-20px;
    width: 62%;
    height: auto;
    margin-left: 75px;
}

.swipe-description-right {
    flex: 2;
    padding-top: 60px;
    display: block;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    max-width: 600px;
    margin-right: 150px;
  }

  .swipe-description-left {
    flex: 2;
    margin-top: 70px;
    display: block;
    justify-content: center; 
    align-items: center; 
     text-align: center; 
     max-width: 650px;
    margin-left: 150px;
  }

  .app-screenshot-right {
    flex: 1;
    margin-bottom: 20px;
  }

.app-screenshot-right img {
    width: 45%;
    height: auto;
    margin-left: 215px;
}

.company-container {
    width: 100%; 
    height: 25%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    pointer-events: none;
}

.company-logo {
    max-width: 100%; 
    max-height: 100%; 
    display: block; 
    pointer-events: none;
}

.demo-box {
    text-align: center; 
    padding-top: 1px;
    margin-bottom: 50px;
}

.demo-text {
    font-size: 56px; 
    line-height: 1.5; 
}

.questions {
    text-decoration: none;
    background-color: #f4f4ed;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.questions h2 {
    color:#0066ec;
}

.a-appstore-bottom {
    position: relative;
    text-decoration: none; 
    align-items: center;
    margin-right: 20px;
}

.a-playstore-bottom {
    position: relative;
    text-decoration: none; 
    align-items: center;

}