* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;    

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 8px;
    border-bottom: 1px solid #00a2ff;
}

.logo {
    max-height: 50px;
    width: auto;
    cursor: pointer
}



.nav-links {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

button, a {
    font-size: 16px;
    color: #0066ec;
    text-decoration: none;
}


.login {
    background-color: #0066ec;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border-color: #0066ec;   
    cursor: pointer;
}
